@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --screen-width: 1440px;

  --heros-bg-color: #d7f5dc;
}

.brandLogo {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.menuText {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
